/* Fix rendering of large tables */
.content table td:first-child code {
  white-space: nowrap;
}

.content .expand_table {
  display: none;
}

.content .expand_table + table {
  margin-right: 0% !important;
  background-color: #eaf2f6;
}

/* size logo correctly */
.tocify-wrapper > img {
  width: 100%
}

/* enable multi line code blocks that stay in the center column */
.content code {
  display: inline-block;
  white-space: pre;
  /* transparent background color means text is invisible when
     multi-line code extends into left column */
  background-color: #dfe5e9 !important;
}

/* ensure single line `code` blocks don't extend into the left column */
.content code.prettyprint {
  white-space: normal;
}